.div_feedback_full {
  display: block;
}

.div_stat_span_block {
  display: block;
}

.statistiks_span {
  font-size: 20px;
}

.span_counter_statistics {
  font-size: 30px;
  font-weight: bold;
  margin: 0 10px;
}

.feedback_h2 {
  font-size: 32px;
  font-family: Arial, sans-serif;
  font-style: italic;
  text-shadow: 2px 2px 4px #000000;
}
.feedback_title {
  display: block;
}

.div_counter_feedback {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
}
.button_feedback {
  padding: 10px;
  background-color: #fcf7f7;
  border-radius: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
  outline: solid 2px #ccc;

  font-style: italic;
  font-weight: bolder;
}
